@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingModels.Listing

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="listingform scroll-padding nav-padding">
	<div class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Website")"> <i class="fas fa-home"></i> </a></li>

						<li class="breadcrumb-item"><a href="@Url.Action("ListingTable", "Listing", new { UserID = Model.ListingId, UserType = Model.ListingType})"> <i class="fas fa-chevron-right"></i> <span>List Table</span></a></li>
						<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Add List</span></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<section class="">
		<div class="container p-0">
			<div class="row no-gutters">
				<div class="col-md-12">
					<div class="section-title d-flex align-items-center m--tb-15">
						<h2>Add Your Listing</h2>
					</div>
				</div>
			</div>
			<div class="">
				@*<form class="form-row align-items-center md-form" action="account-profile.html">*@
				@using (Html.BeginForm("AddForm", "ListingForm", FormMethod.Post, new { id = "", @class = "form-row align-items-center md-form", enctype = "multipart/form-data" }))
				{
					@Html.AntiForgeryToken()
					<div class="col-12 hi-tabform">
						@*tab headers*@
						<div class="card">
							<div class="card-body hi-form__head p-0">
								<ul class="nav nav-tabs nav-tabs-03 nav-fill hi-tab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active show" id="head-1" data-id="1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-01" aria-selected="true">
											<span>01</span>
											List Information
										</a>
									</li>
									<li class="nav-item cursor-no-drop">
										<a class="nav-link pointer-event-none" id="head-2" data-id="2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-02" aria-selected="false">
											<span>02</span>
											Address / Map
										</a>
									</li>
									<li class="nav-item cursor-no-drop">
										<a class="nav-link pointer-event-none" id="head-3" data-id="3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-03" aria-selected="false">
											<span>03</span>
											Contact Details
										</a>
									</li>

								</ul>
							</div>
						</div>
						@*tab Body*@
						<div class="tab-content border-l-pry" id="myTabContent">

							<div class="card m--tb-15">
								<div class="card-body hi-form__body">
									<div class="tab-content">

										<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="head-1">
											<!--row 1-->
											<div class="row">
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="Name" class=" required-input" placeholder="List Name">*@
														@Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control required-input", placeholder = "Enter Name" } })
														<label for="Name" class="control-label">List Name*</label>
														<i class="bar"></i>
													</div>
													<span class="hi-error d-none">Name is required</span>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="l_Email" class=" required-input" placeholder="abc@gmail.com">*@
														@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "abc@gmail.com" } })
														<label for="Email" class="control-label">Email*</label>
														<i class="bar"></i>
													</div>
													@*<span class="hi-error d-none">Email is required</span>*@
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="Phone" class=" required-input" placeholder="9999999999">*@
														@Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "9999999999" } })
														<label for="Phone" class="control-label">Phone*</label>
														<i class="bar"></i>
													</div>
													@*<span class="hi-error d-none">Phone is required</span>*@
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="SecondaryPhone" class=" required-input" placeholder="abc@gmail.com">*@
														@Html.EditorFor(m => m.SecondaryPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "9999999999" } })
														<label for="SecondaryPhone" class="control-label">SecondaryPhone</label>
														<i class="bar"></i>
													</div>
												</div>
											</div>
											<!--row 2-->
											<div class="row justify-content-center align-items-center">
												<div class="col-md-6">
													<div class="form-group">
														@*<select class="form-control basic-select" id="list-type">
																<option value="1">Commercial</option>
																<option value="2">Co-Working</option>
																<option value="3">RE-Professionals</option>
															</select>*@
														<select class="form-control basic-select" id="ListingType" name="ListingType" asp-for="ListingType"
																asp-items="@(new SelectList(ViewBag.ListOfListType, "ListingTypeName", "ListingTypeName"))"></select>
														<label for="select" class="control-label">List Type</label><i class="bar"></i>
													</div>
												</div>
												@*type 1*@
												<div class="col-md-6 type-style type-1 type-1__desc">
													<div class="type-icon">
														<i class="flaticon-building-2"></i>
													</div>
													<div>
														<div class="type-desc">
															The Commercial property used exclusively for business purposes or to provide a workspace rather than a living space. Most often, commercial real estate is leased to tenants to conduct business.
														</div>
														<div class="type-ty">
															<span>Types: </span>
															"Retail, Industries, Warehouse"
														</div>
													</div>
												</div>
												@*type 2*@
												<div class="col-md-6 type-style type-2 type-2__desc d-none">
													<div class="type-icon">
														<i class="flaticon-skyline"></i>
													</div>
													<div>
														<div class="type-desc">
															The Co-Working property used exclusively for business purposes or to provide a workspace rather than a living space. Most often, commercial real estate is leased to tenants to conduct business.
														</div>
														<div class="type-ty">
															<span>Types: </span>
															"Office Space, Cafe"
														</div>
													</div>
												</div>
												@*type 3*@
												<div class="col-md-6 type-style type-3 type-3__desc d-none">
													<div class="type-icon">
														<i class="flaticon-apartment"></i>
													</div>
													<div>
														<div class="type-desc">
															The RealEstate Professionals property used exclusively for business purposes or to provide a workspace rather than a living space.
														</div>
														<div class="type-ty">
															<span>Types: </span>
															"Property Developers, Leasing, Interior Designer, co-Working Architecture, Investor"
														</div>
													</div>
												</div>
											</div>
											@*row 3 all type-1*@
										<div class="row form-type type-1">
											<div class="col-md-3 col-sm-6 type-1__input">
												<div class="form-group">
													@*<select class="form-control basic-select" id="level-type">
					<option value="Retail">Retail</option>
					<option value="Industries">Industries</option>
					<option value="Warehouse">Warehouse</option>
				</select>*@
													<select class="form-control basic-select" id="CommercialType" name="CommercialType" asp-for="CommercialType"
															asp-items="@(new SelectList(ViewBag.ListOfCommercialCategory, "CommercialCategoryName", "CommercialCategoryName"))"></select>
													<label for="select" class="control-label">Category</label><i class="bar"></i>
												</div>
											</div>
											<div class="col-md-3 col-sm-6 type-1__input">
												<div class="form-group">
													@*<select class="form-control basic-select" id="level-infra">
					<option value="Shell">Shell (Empty/unfurnished)</option>
					<option value="Semi">Semi Furnished</option>
					<option value="Fully">Fully Furnished</option>
				</select>*@
													<select class="form-control basic-select" id="CommercialInfraType" name="CommercialInfraType" asp-for="CommercialInfraType"
															asp-items="@(new SelectList(ViewBag.ListOfCommercialInfa, "CommercialInfaName", "CommercialInfaDisplay"))"></select>
													<label for="select" class="control-label">Infrastucture</label><i class="bar"></i>
												</div>
											</div>
											<div class="col-md-3 col-sm-6 align-self-center type-2__input d-none">
												<div class="form-group">
													@*<select class="form-control basic-select" id="level-type-2">
					<option value="Office">Office</option>
					<option value="Cafe">Cafe</option>
				</select>*@
													<select class="form-control basic-select" id="CoworkingType" name="CoworkingType" asp-for="CoworkingType"
															asp-items="@(new SelectList(ViewBag.ListOfCoworkingCategory, "CoworkingCategoryName", "CoworkingCategoryName"))"></select>
													<label for="select" class="control-label">Category</label><i class="bar"></i>
												</div>
											</div>
											<div class="type-2-sub col-md-3 col-sm-6 mt-1rem align-self-center type-2__input type-2-sub__input d-none">
												<div class="checkbox">
													<label>
														<input type="checkbox" />
														@*@Html.EditorFor(m => m.CW_Coworking, new { htmlAttributes = new { @class = "", @type="checkbox" } })*@
														<i class="helper"></i>Shared Space
													</label>
												</div>
												<div class="check-view row d-none">
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															@*<input type="number" id="ss_no" class="" placeholder="0">*@
															@Html.EditorFor(m => m.CW_Coworking, new { htmlAttributes = new { @class = "", placeholder = "00", @type = "number" } })
															<label for="ss_no" class="control-label">No. of Space</label>
															<i class="bar"></i>
														</div>
													</div>
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															@*<input type="number" id="ss_total" class="" placeholder="0">*@
															@Html.EditorFor(m => m.CW_CoworkingSeats, new { htmlAttributes = new { @class = "", placeholder = "00", @type = "number" } })
															<label for="ss_total" class="control-label">Total Seats</label>
															<i class="bar"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="type-2-sub col-md-3 col-sm-6 mt-1rem align-self-center type-2__input type-2-sub__input d-none">
												<div class="checkbox">
													<label>
														<input type="checkbox" /><i class="helper"></i>Private Space
													</label>
												</div>
												<div class="check-view row d-none">
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															@*<input type="number" id="ps_no" class="" placeholder="0">*@
															@Html.EditorFor(m => m.CW_PrivateOffice, new { htmlAttributes = new { @class = "", placeholder = "00", @type = "number" } })
															<label for="ps_no" class="control-label">No. of Space</label>
															<i class="bar"></i>
														</div>
													</div>
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															@*<input type="number" id="ps_total" class="" placeholder="0">*@
															@Html.EditorFor(m => m.CW_PrivateOfficeSeats, new { htmlAttributes = new { @class = "", placeholder = "00", @type = "number" } })
															<label for="ps_total" class="control-label">Total Seats</label>
															<i class="bar"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="type-2-sub col-md-3 col-sm-6 mt-1rem align-self-center type-2__input type-2-sub__input d-none">
												<div class="checkbox">
													<label>
														<input type="checkbox" /><i class="helper"></i>Meeting Room
													</label>
												</div>
												<div class="check-view row d-none">
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															@*<input type="number" id="mr_no" class="" placeholder="0">*@
															@Html.EditorFor(m => m.CW_MeetingRoom, new { htmlAttributes = new { @class = "", placeholder = "00", @type = "number" } })
															<label for="mr_no" class="control-label">No. of Space</label>
															<i class="bar"></i>
														</div>
													</div>
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															@*<input type="number" id="mr_total" class="" placeholder="0">*@
															@Html.EditorFor(m => m.CW_MeetingRoomSeats, new { htmlAttributes = new { @class = "", placeholder = "00", @type = "number" } })
															<label for="mr_total" class="control-label">Total Seats</label>
															<i class="bar"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="type-2-sub col-md-3 col-sm-6 type-2__input type-2-sub__input d-none">
												<div class="radio-group">
													<div class="radio-lable">
														Virtual Office
													</div>
													<div class="form-radio radio-items">
														<div class="radio">
															<label>
																@*<input type="radio" name="radio_2" checked="checked" />*@
																@Html.RadioButtonFor(m => m.CW_VirtualOffice, true, new { @checked = "checked" , id =""})
																<i class="helper"></i>Yes
															</label>
														</div>
														<div class="radio">
															<label>
																@*<input type="radio" checked name="radio_2" />*@
																@Html.RadioButtonFor(m => m.CW_VirtualOffice, false, new { id = "" })
																<i class="helper"></i>No
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="form-group">
													@*<input type="number" id="Size" class="" placeholder="100">*@
													@Html.EditorFor(m => m.SpaceSize, new { htmlAttributes = new { @class = "form-control", placeholder = "00.00" } })
													<label for="SpaceSize" class="control-label">Space Size (Sq.ft)</label>
													<i class="bar"></i>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="checkbox-group">
													<div class="checkbox-lable">
														Rental Options
													</div>
													<div class="checkbox-items">
														<div class="checkbox">
															<label>
																@*<input type="checkbox" />*@
																@Html.CheckBoxFor(m => m.RentalHour)
																<i class="helper"></i>Hour
															</label>
														</div>
														<div class="checkbox">
															<label>
																@*<input type="checkbox" />*@
																@Html.CheckBoxFor(m => m.RentalDay)

																<i class="helper"></i>Day
															</label>
														</div>
														<div class="checkbox">
															<label>
																@*<input type="checkbox" checked="checked" />*@
																@Html.CheckBoxFor(m => m.RentalMonth, new { @checked = "checked" })
																<i class="helper"></i>Month
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="form-group">
													@*<input type="number" id="MinPrice" class="" placeholder="000">*@
													@Html.EditorFor(m => m.PriceMin, new { htmlAttributes = new { @class = "form-control", placeholder = "000" } })
													<label for="PriceMin" class="control-label">Min Price &#8377;</label>
													<i class="bar"></i>
												</div>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="form-group">
													@*<input type="number" id="MaxPrice" class="" placeholder="100000">*@
													@Html.EditorFor(m => m.PriceMax, new { htmlAttributes = new { @class = "form-control", placeholder = "000" } })
													<label for="MaxPrice" class="control-label">Max Price &#8377;</label>
													<i class="bar"></i>
												</div>
											</div>
											<div class="form-group col-md-3 col-sm-6 datetimepickers">
												<div class="form-group">
													<div class='input-group date' id='BuildYearDiv'>
														@*<input type='text' class="form-control" placeholder="YYYY/MM/DD"/>*@
														@Html.TextBoxFor(m => m.BuildYear, new { @class = "form-control", placeholder = "YYYY/MM/DD", @type = "text" })
														<label for="input" class="control-label">Build Year</label><i class="bar"></i>
														<span class="input-group-addon">
															<span class="far fa-calendar-alt"></span>
														</span>
													</div>
												</div>

											</div>
											<div class="form-group col-md-3 col-sm-6 datetimepickers">
												<div class="form-group">
													<div class='input-group date' id='RecentInnovationDiv'>
														@*<input type='text' class="form-control" placeholder="YYYY/MM/DD"/>*@
														@Html.TextBoxFor(m => m.RecentInnovation, new { @class = "form-control", placeholder = "YYYY/MM/DD", @type = "text" })
														<label for="input" class="control-label">Recent Innovation</label><i class="bar"></i>
														<span class="input-group-addon">
															<span class="far fa-calendar-alt"></span>
														</span>
													</div>
												</div>

											</div>
											<div class="col-md-3 col-sm-6 input-occupancy">
												<div class="form-group">
													@*<input type="number" id="CurrentOccupancy" class="" placeholder="00">*@
													@Html.EditorFor(m => m.CurrentOccupancy, new { htmlAttributes = new { @class = "form-control", placeholder = "00" } })
													<label for="CurrentOccupancy" class="control-label">Current Occupancy %</label>
													<i class="bar"></i>
												</div>
											</div>
											<div class="col-md-6 col-sm-6 type-1__input">
												<div class="radio-group">
													<div class="radio-lable">
														Interested in modifying to Co-Working
													</div>
													<div class="form-radio radio-items">
														<div class="radio">
															<label>
																@*<input type="radio" name="radio_1" checked="checked" />*@

																@Html.RadioButtonFor(m => m.CM_IntrestedCoworking, true, new { @checked = "checked", id="" })
																<i class="helper"></i>Yes
															</label>
														</div>
														<div class="radio">
															<label>
																@*<input type="radio" name="radio_1" />*@
																@Html.RadioButtonFor(m => m.CM_IntrestedCoworking, false, new { id = "" })
																<i class="helper"></i>No
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
											@*row 3 all type-2*@
										@*<div class="row type-2 d-none">
											
											
											
										</div>*@
											@*row 3 all type-3*@
											<div class="row type-3 d-none">
												<div class="col-md-3 col-sm-6 align-self-center">
													<div class="form-group">
														@*<select class="form-control basic-select" id="level-type-3">
																<option value="1">Property Developer</option>
																<option value="2">Leasing</option>
																<option value="3">Interior Designer</option>
																<option value="4">co-Working Architecture</option>
																<option value="5">Investor</option>
															</select>*@
														<select class="form-control basic-select" id="REprofessionalsType" name="REprofessionalsType" asp-for="REprofessionalsType"
																asp-items="@(new SelectList(ViewBag.ListOfProfessionalCategory, "ProfessionalCategoryName", "ProfessionalCategoryDisplay"))"></select>
														<label for="select" class="control-label">Category</label><i class="bar"></i>
													</div>
												</div>
												<div class="col-md-9 col-sm-12">
													<div class="checkbox-group">
														<div class="checkbox-lable">
															Interest / Specialist
														</div>
														<div class="checkbox-items row">
															<div class="checkbox col-md-3 m-0">
																<label>
																	@*<input type="checkbox" />*@
																	@Html.CheckBoxFor(m => m.RE_Warehouse)
																	<i class="helper"></i>Warehouse
																</label>
															</div>
															<div class="checkbox col-md-3 m-0">
																<label>
																	@*<input type="checkbox" />*@
																	@Html.CheckBoxFor(m => m.RE_Office)
																	<i class="helper"></i>Office
																</label>
															</div>
															<div class="checkbox col-md-3 m-0">
																<label>
																	@*<input type="checkbox" checked="checked" />*@
																	@Html.CheckBoxFor(m => m.RE_Retail)
																	<i class="helper"></i>Retail
																</label>
															</div>
															<div class="checkbox col-md-3 m-0">
																<label>
																	@*<input type="checkbox" checked="checked" />*@
																	@Html.CheckBoxFor(m => m.RE_Coworking)
																	<i class="helper"></i>Co-Working
																</label>
															</div>
															<div class="checkbox col-md-3 m-0">
																<label>
																	@*<input type="checkbox" checked="checked" />*@
																	@Html.CheckBoxFor(m => m.RE_PropertyManagement)
																	<i class="helper"></i>Property Management
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										@*map and address section*@
										<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="head-2">
											<div class="row justify-content-center">
												<!-- Autocomplete location search input -->
												<div class="form-group">
													<input type="hidden" id="loc_lat" />
													<input type="hidden" id="loc_long" />
												</div>

												<!-- Display latitude and longitude -->
												<div class="latlong-view col-sm-10">
													<p class="m--0">
														<b>Latitude:</b>
														@Html.EditorFor(m => m.latitude_view, new { htmlAttributes = new { @class = "form-control input-disable" } })
														@*<span id="latitude_view"></span>*@
													</p>
													<p class="m--0">
														<b>Longitude:</b>
														@Html.EditorFor(m => m.longitude_view, new { htmlAttributes = new { @class = "form-control input-disable" } })
														@*<span id="longitude_view"></span>*@
													</p>
												</div>
												<div class="col-md-10 address-text">
													<h6>Let's try to find your location on the map.</h6>
													<p>Type your address into the field below and select your space from the dropdown menu. If your space doesn't appear, type your street address in instead.</p>
												</div>
												<div class="col-md-10">
													<div class="pac-card" id="pac-card">
														<div class="pac-select">
															<div id="type-selector" class="pac-controls hide">
																<input type="radio" name="type" id="changetype-all" checked="checked">
																<label for="changetype-all">All</label>

																<input type="radio" name="type" id="changetype-establishment">
																<label for="changetype-establishment">Establishments</label>

																<input type="radio" name="type" id="changetype-address">
																<label for="changetype-address">Addresses</label>

																<input type="radio" name="type" id="changetype-geocode">
																<label for="changetype-geocode">Geocodes</label>
															</div>
															<div id="strict-bounds-selector" class="pac-controls">
																<input type="checkbox" id="use-strict-bounds" value="">
																<label for="use-strict-bounds">Strict Bounds</label>
															</div>
														</div>
														<div id="pac-container">
															<input id="pac-input" type="text"
																   placeholder="Enter a location">
														</div>
													</div>
													<div id="map"></div>
													<div id="infowindow-content">
														<img src="" width="16" height="16" id="place-icon">
														<span id="place-name" class="title"></span><br>
														<span id="place-address"></span>
													</div>
													<p class="address-foot">Confirm and complete any missing details in the location information below:</p>
													<table id="address">
														<tbody class="row">
															<tr class="col-sm-6">
																<td class="label col-sm-6">Address Line 1</td>
																<td class="slimField col-sm-6">
																	@Html.EditorFor(m => m.street_number, new { htmlAttributes = new { @class = "field" } })
																	@*<input class="field" id="street_number" />*@
																</td>
															</tr>
															<tr class="col-sm-6">
																<td class="label col-sm-6">Address Line 2</td>
																<td class="wideField col-sm-6">
																	@Html.EditorFor(m => m.route, new { htmlAttributes = new { @class = "field" } })
																	@*<input class="field" id="route" />*@
																</td>

															</tr>
															<tr class="col-sm-6">
																<td class="label col-sm-6">City</td>
																<td class="wideField col-sm-6">
																	@Html.EditorFor(m => m.locality, new { htmlAttributes = new { @class = "field" } })
																	@*<input class="field" id="locality" />*@
																</td>
															</tr>
															<tr class="col-sm-6">
																<td class="label col-sm-6">State</td>
																<td class="slimField col-sm-6">
																	@Html.EditorFor(m => m.administrative_area_level_1, new { htmlAttributes = new { @class = "field" } })
																	@*<input class="field" id="administrative_area_level_1" />*@
																</td>
															</tr>
															<tr class="col-sm-6">
																<td class="label col-sm-6">Country</td>
																<td class="wideField col-sm-6" colspan="3">
																	@Html.EditorFor(m => m.country, new { htmlAttributes = new { @class = "field" } })
																	@*<input class="field" id="country" />*@
																</td>
															</tr>
															<tr class="col-sm-6">
																<td class="label col-sm-6">Zip code</td>
																<td class="wideField col-sm-6">
																	@Html.EditorFor(m => m.postal_code, new { htmlAttributes = new { @class = "field" } })
																	@*<input class="field" id="postal_code" />*@
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										@*contact details section*@
										<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="head-3">
											<!--row 1-->
											<div class="row">
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="Fax" class="" placeholder="123456798">*@
														@Html.EditorFor(m => m.Fax, new { htmlAttributes = new { @class = "form-control", placeholder = "123456798" } })
														<label for="Fax" class="control-label">Fax</label>
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="Pry_name" class="" placeholder="Name">*@
														@Html.EditorFor(m => m.PrimaryConatctName, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
														<label for="Pry_name" class="control-label">Primary Contact Person</label>
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<input type="text" id="Pry_phone" class="" placeholder="9999999999">*@
														@Html.EditorFor(m => m.PrimaryConatctPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "9999999999" } })
														<label for="Pry_phone" class="control-label">Primary Contact Phone</label>
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="form-group">
														@*<textarea rows="5" id="desc" class="" placeholder="Enter your text here..."></textarea>*@
														@Html.TextAreaFor(m => m.Description, new { @class = "", placeholder = "Enter your text here..." })
														<label for="desc" class="control-label">Description</label>
														<i class="bar"></i>
													</div>
												</div>
												@*<div class="col-md-6 col-sm-6">
														<div class="checkbox m-0">
															<label>
																<input type="checkbox" /><i class="helper"></i>Activate
															</label>
														</div>
													</div>*@
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>

						@*tab Footer*@
						<div class="card mb-4">
							<div class="card-body hi-form__foot">
								<div class="row hi-btn-event">
									<div class="col-12">
										<a href="javascript:void(0);" onclick="tabNavigation(0);" class="btn btn-primary text-uppercase tab-back-btn">Back</a>
										<a href="javascript:void(0);" onclick="tabNavigation(1);" class="btn btn-primary text-uppercase tab-next-btn float-right">Next</a>
										<input href="javascript:void(0);" onclick="tabNavigation(2);" type="submit" class="btn btn-success text-uppercase tab-submit float-right bmw-submit" value="Submit" />
									</div>
								</div>
							</div>
						</div>
					</div>

					@*</form>*@
				}
			</div>
		</div>
	</section>
</div>

