
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
}
@{
	var error = "";
	if (TempData.ContainsKey("Error"))
	{
		error = TempData["Error"] as string;
	}

	var signup = "";
	if (TempData.ContainsKey("Signup"))
	{
		signup = TempData["Signup"] as string;
	}
}
@*Model to show error message*@
<!-- Modal -->
<div class="modal message fade" id="errorLogin" tabindex="-1" role="dialog" aria-labelledby="errorLoginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-pry">
				<h5 class="modal-title" id="errorLoginModalLabel">Login Error </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>@error</p>
			</div>
		</div>

	</div>
</div>
@*Model to show success message*@
<!-- Modal -->
<div class="modal message fade" id="sucessSignup" tabindex="-1" role="dialog" aria-labelledby="sucessSignupModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-pry">
				<h5 class="modal-title" id="sucessSignupModalLabel">Welcome To HiSpace </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4 class="text-sec">Welcome</h4>
				<p>You are registered successfully</p>
				<a class="modal-link__login hover-signup" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }" data-dismiss="modal"><b>Click to <span class="text-sec bg-sec">Login</span></b></a>
			</div>
		</div>

	</div>
</div>

<div class="index">
	<!--=================================
	banner -->

	@if (error != "")
	{
		@section Scripts {
			<script>
				$(document).ready(function () {
					//setTimeout(function(){ alert("Incorrect Email or Password"); }, 1000);
					//setTimeout(function () { alert('a') }, 2000);
					$('#errorLogin').modal('show');
				});
			</script>
		}
	}@if (signup != "")
	{
		@section Scripts {
			<script>
				$(document).ready(function () {
					$('#sucessSignup').modal('show');
				});
			</script>
		}
	}
	<section class="position-relative">
		<div class="banner bg-holder bg-overlay-gradient-02" style="background-image: url(images/slider/05.jpg);">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-5 col-xl-5">
						<div class="slide-type">
							<div class="slide-type__image">
								<span class="icon fab flaticon-apartment-1"></span>
							</div>
							<div class="slide-type_text texttype-1">
								Find Your Space
								<i class="fas fa-angle-double-right"></i>
							</div>
						</div>
						<div class="slide-type">
							<div class="slide-type__image">
								<span class="icon fab flaticon-building"></span>
							</div>
							<div class="slide-type_text texttype-2">
								Manage Your Space
								<i class="fas fa-angle-double-right"></i>
							</div>
						</div>
						<div class="slide-type">
							<div class="slide-type__image">
								<span class="icon fab flaticon-agent"></span>
							</div>
							<div class="slide-type_text texttype-3">
								Find a Real-Estate Professionals
								<i class="fas fa-angle-double-right"></i>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-xl-7">
						<h1 class="text-white mb-4 display-4 font-weight-bold slide-heading">Welcome to Coworking Community for the next generation Real-Estate Industry evolution</h1>
						<div class="slide-btn">
							<div class="property-btn">
								<a class="property-link btn btn-primary modal-link__filter" data-targeturl="@Url.Action("FilterPartialView","Website")" href="javascript:function() { return false; }"><i class="fas fa-hands-helping"></i> Join Now</a>
							</div>
							<div class="property-btn">
								<a class="property-link btn btn-sec modal-link__filter" data-targeturl="@Url.Action("FilterPartialView","Website")" href="javascript:function() { return false; }"><i class="fas fa-sign-in-alt"></i> Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--=================================
	banner -->
	@*<section class="search-tab">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-4 mb-4 mb-lg-0">
						<div class="bg-light__trans p-4 text-center h-100">
							<i class="flaticon-contract font-xlll mb-4"></i>
							<h5 class="mb-3">Are You Searching For Work Space?</h5>
							<div class="property-btn">
								<a class="property-link btn btn-primary" id="cartBtn-1" cart-section="1" href="javascript:void(0)"><i class="fas fa-map-marker-alt"></i>Find</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 mb-4 mb-lg-0">
						<div class="bg-light__trans p-4 text-center h-100">
							<i class="flaticon-building-3 font-xlll mb-4"></i>
							<h5 class="mb-3">You Have A Space To Market?</h5>
							<div class="property-btn">
								<a class="property-link btn btn-primary" id="cartBtn-2" cart-section="2" href="javascript:void(0)"><i class="fas fa-list-ul"></i>List</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 mb-4 mb-sm-0">
						<div class="bg-light__trans p-4 text-center h-100">
							<i class="flaticon-agent font-xlll mb-4"></i>
							<h5 class="mb-3">You Are A Realestate Professional?</h5>
							<div class="property-btn">
								<a class="property-link btn btn-primary" id="cartBtn-3" cart-section="3" href="javascript:void(0)"><i class="fas fa-user-tie"></i>Professional</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>*@

	<section class="section-card card-1" id="card-1">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-01.jpg" />
				</div>
				<div class="col-md-6">
					<h2 class="text-sec">Find your Space</h2>
					<div>
						<ul>
							<li>
								@*Find a Coworking Space <span>(Office, Cafe,..)</span>*@
								Are you looking for the perfect coworking workspaces to simply get work done?
							</li>
							<li>
								@*Find a Commercial Space <span>(Retail, Warehouse, Industries,..)</span>*@
								We understand your struggle to find the space at the right price range
							</li>
							<li>
								@*Find a Realestate Professionals <span>(Property Developer, Architecture,..)</span>*@
								We offer spaces which do what is required
							</li>
						</ul>
					</div>
					<div class="property-btn">
						@*<a class="property-link btn btn-sec" href="@Url.Action( "PropertyList","Website")">Click Here</a>*@
						<a class="property-link btn btn-sec modal-link__filter" data-targeturl="@Url.Action("FilterPartialView","Website")" href="javascript:function() { return false; }"> Click Here</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-2" id="card-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-info">Manage your Space</h2>
					<div>
						<ul>
							<li>
								@*Coworking Space <span>(Office, Virtual, Shared,..)</span>*@
								Do you want to list your properties and spaces?
							</li>
							<li>
								@*Cafe Space*@
								We understand your struggle to manage operating costs, find new leads,track invoices and payments
							</li>
							<li>
								@*Commercial Space <span>(Retail, Warehouse, Industries,..)</span>*@
								We offer you the best real-estate professionals to get involved in your coworking spaces
							</li>
							@*<li>
									Shell Space <span>(Fully Furnished, Semi Furnished..)</span>
								</li>*@
						</ul>
					</div>
					@if (ViewBag.UserId != null)
					{
						<div class="property-btn">
							<a class="property-link btn btn-info" href="@Url.Action("ListingTable","Listing",new { UserID = ViewBag.UserId, UserType = ViewBag.UserType })">Click Here</a>
						</div>
					}
					else
					{
						<div class="property-btn">
							<a class="property-link btn btn-info modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"> Click Here</a>
						</div>
					}
				</div>
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-02.jpg" />
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-3" id="card-3">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-03.jpg" />
				</div>
				<div class="col-md-6">
					<h2 class="text-pry">Find a Real-Estate Professional</h2>
					<div>
						<ul>
							<li>
								@*You want to get in work with RE players*@
								Are you looking to associate with interesting projects?
							</li>
							<li>
								@*You wish to list yourself for market*@
								Do you want to get involved in projects with leading coworking operators ?
							</li>
							@*<li>
									Realestate Professionals <span>(Property Developer, Co-working Architecture, Leasing, Interior Designer, Investor,..)</span>
								</li>*@
						</ul>
					</div>
					@if (ViewBag.UserId != null)
					{
						<div class="property-btn">
							<a class="property-link btn btn-primary" href="@Url.Action("ListingTable","Listing",new { UserID = ViewBag.UserId, UserType = ViewBag.UserType })">Click Here</a>
						</div>
					}
					else
					{
						<div class="property-btn">
							<a class="property-link btn btn-primary modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"> Click Here</a>
						</div>
					}
				</div>
			</div>
		</div>
	</section>
	<!--=================================
	testimonial -->
	<section class="space-ptb">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Testimonials</h2>
					</div>
					<div class="owl-carousel owl-nav-top-left" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
						<div class="item">
							<div class="testimonial-02">
								<div class="testimonial-content">
									<p><i class="fas fa-quote-right quotes"></i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
								</div>
								<div class="testimonial-author">
									<div class="testimonial-avatar avatar avatar-lg mr-3">
										<img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
									</div>
									<div class="testimonial-name">
										<h6 class="text-primary mb-1">Michael Bean</h6>
										<span>Hamilton Rd. Willoughby</span>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-02">
								<div class="testimonial-content">
									<p><i class="fas fa-quote-right quotes"></i>Jennifer & Dave were both instructive and very valuable in making my decision. I would Surly recommend them to anyone looking for a hassle free and efficient real estate experience.</p>
								</div>
								<div class="testimonial-author">
									<div class="testimonial-avatar avatar avatar-lg mr-3">
										<img class="img-fluid rounded-circle" src="images/avatar/02.jpg" alt="">
									</div>
									<div class="testimonial-name">
										<h6 class="text-primary mb-1">Isabelle</h6>
										<span>West Division Street</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-5 mt-lg-0">
					<div class="owl-carousel owl-nav-center" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
						<div class="item">
							<div class="testimonial-02 testimonial-02-small">
								<div class="testimonial-content">
									<p><i class="fas fa-quote-right quotes"></i>Oliver always had a smile and was so quick to answer and get the job done.  I'll definitely suggest you to anyone we know who is selling or wanting to purchase a home. He is the best!</p>
								</div>
								<div class="testimonial-author">
									<div class="testimonial-avatar avatar avatar-lg mr-3">
										<img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
									</div>
									<div class="testimonial-name">
										<h6 class="text-primary">Mikah Hargrove</h6>
										<span>Hamilton Rd. Willoughby</span>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-02 testimonial-02-small">
								<div class="testimonial-content">
									<p><i class="fas fa-quote-right quotes"></i>Jennifer & Dave were both instructive and very valuable in making my decision. I would Surly recommend them to anyone looking for a hassle free and efficient real estate experience.</p>
								</div>
								<div class="testimonial-author">
									<div class="testimonial-avatar avatar avatar-lg mr-3">
										<img class="img-fluid rounded-circle" src="images/avatar/02.jpg" alt="">
									</div>
									<div class="testimonial-name">
										<h6 class="text-primary">Joana williams</h6>
										<span>Piper Drive Zion</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=================================
	testimonial -->
</div>