
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
}
@{
	var error = "";
	if (TempData.ContainsKey("Error"))
	{
		error = TempData["Error"] as string;
	}

	var signup = "";
	if (TempData.ContainsKey("Signup"))
	{
		signup = TempData["Signup"] as string;
	}
}
@*Model to show error message*@
<!-- Modal -->
<div class="modal message fade" id="errorLogin" tabindex="-1" role="dialog" aria-labelledby="errorLoginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-pry">
				<h5 class="modal-title" id="errorLoginModalLabel">Login Error </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>@error</p>
			</div>
		</div>

	</div>
</div>
@*Model to show success message*@
<!-- Modal -->
<div class="modal message fade" id="sucessSignup" tabindex="-1" role="dialog" aria-labelledby="sucessSignupModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header border-0 bg-pry">
				<h5 class="modal-title" id="sucessSignupModalLabel">Welcome To HiSpace </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4 class="text-sec">Welcome</h4>
				<p>You are registered successfully</p>
				<a class="modal-link__login hover-signup" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }" data-dismiss="modal"><b>Click to <span class="text-sec bg-sec">Login</span></b></a>
			</div>
		</div>

	</div>
</div>

<div class="index">
	<!--=================================
	banner -->

	@if (error != "")
	{
		@section Scripts {
			<script>
				$(document).ready(function () {
					//setTimeout(function(){ alert("Incorrect Email or Password"); }, 1000);
					//setTimeout(function () { alert('a') }, 2000);
					$('#errorLogin').modal('show');
				});
			</script>
		}
	}@if (signup != "")
	{
		@section Scripts {
			<script>
				$(document).ready(function () {
					$('#sucessSignup').modal('show');
				});
			</script>
		}
	}
	<section class="clearfix">
		<div id="slider" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#slider" data-slide-to="0" class="active"></li>
				<li data-target="#slider" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="img-fluid" src="~/images/slider/01.jpg" alt="">
					<div class="black-overlay"></div>
					<div class="slider-content">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<span class="text-white animated-07 animate__fadeInDown">HiSpace</span>
									<h1 class="text-white mb-3 animated-08">Move Into Your Space With Us</h1>
									@*<a href="#" class="btn btn-link animated-08">View more <i class="fas fa-arrow-right pl-2"></i></a>*@
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-fluid" src="~/images/slider/03.jpg" alt="">
					<div class="black-overlay"></div>
					<div class="slider-content">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<span class="text-white animated-07">HiSpace</span>
									<h1 class="text-white mb-3 animated-08">Move Into Your Space With Us</h1>
									@*<a href="#" class="btn btn-link animated-08">Search now <i class="fas fa-arrow-right pl-2"></i></a>*@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-none d-md-block">
				<a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#slider" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>

	<!--=================================
	banner -->
	<section class="search-tab">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-4 mb-4 mb-lg-0">
					<div class="bg-light__trans p-4 text-center h-100">
						<i class="flaticon-contract font-xlll mb-4"></i>
						<h5 class="mb-3">Are You Searching For Work Space?</h5>
						<div class="property-btn">
							<a class="property-link btn btn-primary" id="cartBtn-1" cart-section="1" href="javascript:void(0)"><i class="fas fa-map-marker-alt"></i>Find</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 mb-4 mb-lg-0">
					<div class="bg-light__trans p-4 text-center h-100">
						<i class="flaticon-building-3 font-xlll mb-4"></i>
						<h5 class="mb-3">You Have A Space To Market?</h5>
						<div class="property-btn">
							<a class="property-link btn btn-primary" id="cartBtn-2" cart-section="2" href="javascript:void(0)"><i class="fas fa-list-ul"></i>List</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 mb-4 mb-sm-0">
					<div class="bg-light__trans p-4 text-center h-100">
						<i class="flaticon-agent font-xlll mb-4"></i>
						<h5 class="mb-3">You Are A Realestate Professional?</h5>
						<div class="property-btn">
							<a class="property-link btn btn-primary" id="cartBtn-3" cart-section="3" href="javascript:void(0)"><i class="fas fa-user-tie"></i>Professional</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-1" id="card-1">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-01.jpg" />
				</div>
				<div class="col-md-6">
					<h2 class="text-sec">Are You Searching For Work Space?</h2>
					<div>
						<ul>
							<li>
								Find a Coworking Space <span>(Office, Cafe,..)</span>
							</li>
							<li>
								Find a Commercial Space <span>(Retail, Warehouse, Industries,..)</span>
							</li>
							<li>
								Find a Realestate Professionals <span>(Property Developer, Architecture,..)</span>
							</li>
						</ul>
					</div>
					<div class="property-btn">
						<a class="property-link btn btn-sec" href="@Url.Action( "PropertyList","Website")">Click Here</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-2" id="card-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-info">You Have A Space To Market?</h2>
					<div>
						<ul>
							<li>
								Coworking Space <span>(Office, Virtual, Shared,..)</span>
							</li>
							<li>
								Cafe Space
							</li>
							<li>
								Commercial Space <span>(Retail, Warehouse, Industries,..)</span>
							</li>
							<li>
								Shell Space <span>(Fully Furnished, Semi Furnished..)</span>
							</li>
						</ul>
					</div>
					@if (ViewBag.UserId != null)
					{
						<div class="property-btn">
							<a class="property-link btn btn-info" href="@Url.Action("ListingTable","Listing",new { id = ViewBag.UserId, UserType = ViewBag.UserType })">Click Here</a>
						</div>
					}
					else
					{
						<div class="property-btn">
							<a class="property-link btn btn-info modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"> Click Here</a>
						</div>
					}
				</div>
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-02.jpg" />
				</div>
			</div>
		</div>
	</section>

	<section class="section-card card-3" id="card-3">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 h-100">
					<img src="~/images/slider/image-03.jpg" />
				</div>
				<div class="col-md-6">
					<h2 class="text-pry">Are You A Realestate Professional?</h2>
					<div>
						<ul>
							<li>
								You want to get in work with RE players
							</li>
							<li>
								You wish to list yourself for market
							</li>
							<li>
								Realestate Professionals <span>(Property Developer, Co-working Architecture, Leasing, Interior Designer, Investor,..)</span>
							</li>
						</ul>
					</div>
					@if (ViewBag.UserId != null)
					{
						<div class="property-btn">
							<a class="property-link btn btn-primary" href="@Url.Action("ListingTable","Listing",new { id = ViewBag.UserId, UserType = ViewBag.UserType })">Click Here</a>
						</div>
					}
					else
					{
						<div class="property-btn">
							<a class="property-link btn btn-primary modal-link__login" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }"> Click Here</a>
						</div>
					}
				</div>
			</div>
		</div>
	</section>
</div>