@{
	ViewData["Title"] = "PropertyLister";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
}
@model HiSpaceListingService.ViewModel.PropertyListListerResponse

<div class="property-list nav-padding">
	<div class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="@Url.Action("Index", "Website")"> <i class="fas fa-home"></i> </a></li>
						<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Lister Property </span></li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<section class="space-ptb">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-5 mb-lg-0">
					<div class="">
						<div class="widget accordion-sec">
							<div class="widget-title widget-collapse">
								<a class="ml-auto" data-toggle="collapse" href="#property-lister" role="button" aria-expanded="false" aria-controls="property-lister"><h6>Lister Detail</h6> <i class="fas fa-chevron-down"></i> </a>
							</div>
							<div class="collapse show" id="property-lister">
								<div class="accordion-sec__detail">
									<div class="lister-head">
										<div class="lister-head__name">@Model.SpaceUser.CompanyName</div>
										<img class="lister-head__image img-fluid" src="~/images/listing/logo.png" alt="" />
									</div>
									<div class="lister-detail">
										<div><i class="fas fa-globe"></i><b>Website: </b> <span>@Model.SpaceUser.Website</span></div>
										<div><i class="fas fa-mobile-alt"></i><b>Phone: </b><span>@Model.SpaceUser.Phone</span></div>
										<div><i class="fas fa-city"></i><b>Total List </b><span>(@Model.PropertyCount)</span></div>
									</div>
									@*<div class="lister-btn">
											<a class="btn btn-sm btn-primary" href="@Url.Action( "PropertyLister","Website")">See Details</a>
										</div>*@
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="property-item property-col-list mt-4">
						@foreach (var item in Model.PropertyDetail)
						{
							<div class="row no-gutters">
								<div class="col-lg-4 col-md-5 prop-image">
									<div class="property-image bg-overlay-gradient-04">
										<img class="img-fluid" src="~/images/property/list/01.jpg" alt="">
										<div class="property-lable">
											@if (item.SpaceListing.ListingType == "Commercial")
											{
												<span class="badge badge-md badge-pry">@item.SpaceListing.ListingType</span>
											}
											else if (item.SpaceListing.ListingType == "Co-Working")
											{
												<span class="badge badge-md badge-sec">@item.SpaceListing.ListingType</span>

											}
											else if (item.SpaceListing.ListingType == "RE-Professional")
											{
												<span class="badge badge-md badge-info">@item.SpaceListing.ListingType</span>

											}
										</div>
										<div class="property-agent">
											<div class="property-agent-image">
												<img class="img-fluid" src="~/images/avatar/03.jpg" alt="">
											</div>
											<div class="property-agent-info">
												<a class="property-agent-name" href="#">@item.SpaceUser.CompanyName</a>
												<span class="d-block">Lister Name</span>

											</div>
										</div>
										@*<div class="property-agent-popup">
			<a href="#"><i class="fas fa-camera"></i> 03</a>
		</div>*@
									</div>
								</div>
								<div class="col-lg-8 col-md-7 prop-details">
									<div class="property-details">
										<div class="property-details__head">
											<div class="property-details__header">@item.SpaceListing.Name</div>
											<div class="property-details__amenities">
												@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
												{
													<span class="property-details__am">Amenities (@item.AvailableAmenities)</span>
													<span class="property-details__fa">Facilities (@item.AvailableFacilities)</span>
												}
												else
												{
													<span class="property-details__am">Projects (10)</span>
												}
											</div>
										</div>
										<div class="property-details__desc">
											@if (item.SpaceListing.Description == null)
											{
												@Html.Raw("I truly believe Augustine’s words are true and if you look at history you know it is true.There are many people in.");
											}
											else
											{

												@item.SpaceListing.Description
											}
										</div>


										<div class="property-details__section">
											<div>
												<span class="property-span__head">Type: </span>
												@if (item.SpaceListing.ListingType == "Commercial")
												{
													<span class="property-span__type badge-pry">@item.SpaceListing.ListingType</span>
												}
												else if (item.SpaceListing.ListingType == "Co-Working")
												{
													<span class="property-span__type badge-sec">@item.SpaceListing.ListingType</span>

												}
												else if (item.SpaceListing.ListingType == "RE-Professional")
												{
													<span class="property-span__type badge-info">@item.SpaceListing.ListingType</span>

												}
											</div>
											<div>
												@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
												{
													<span class="property-span__head">Rent: </span>
													<span class="property-span__rent">
														@if ((item.SpaceListing.RentalHour == true) && (item.SpaceListing.RentalDay == true) && (item.SpaceListing.RentalMonth == true))
														{
															@Html.Raw("Hour | Day | Month");
														}
														else if ((item.SpaceListing.RentalHour == true) && (item.SpaceListing.RentalDay == true))
														{
															@Html.Raw("Hour | Day");
														}
														else if ((item.SpaceListing.RentalHour == true) && (item.SpaceListing.RentalMonth == true))
														{
															@Html.Raw("Hour | Month");
														}
														else if ((item.SpaceListing.RentalMonth == true) && (item.SpaceListing.RentalDay == true))
														{
															@Html.Raw("Day | Month");
														}
														else if ((item.SpaceListing.RentalMonth == true))
														{
															@Html.Raw("Month");
														}
														else if ((item.SpaceListing.RentalDay == true))
														{
															@Html.Raw("Day");
														}
														else if ((item.SpaceListing.RentalHour == true))
														{
															@Html.Raw("Hour");
														}
														else
														{
															@Html.Raw("Not Specified");
														}
													</span>

												}

											</div>


										</div>


										<div class="property-details__footer">
											<div class="property-details__address">
												<i class="fas fa-map-marker-alt fa-xs"></i>
												@if (item.SpaceListing.street_number != null)
												{
													@Html.Raw(@item.SpaceListing.street_number + ",");
												}
												@if (item.SpaceListing.route != null)
												{
													@Html.Raw(@item.SpaceListing.route + ",");
												}
												<span class="property-span__head">@item.SpaceListing.locality</span>, @item.SpaceListing.administrative_area_level_1. <span class="property-span__head">@item.SpaceListing.postal_code</span>
											</div>
											<div class="property-details__total">

												@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
												{
													<span class="property-span__tot">
														<i class="fas fa-circle fa-xs"></i>Total: @if (item.SpaceListing.TotalSeats != null)@item.SpaceListing.TotalSeats
														else
															@Html.Raw("Not Available")
													</span>
													<span class="property-span__head"> | </span>
													<span class="property-span__occ">
														<i class="fas fa-chart-pie fa-xs"></i>Occupied: @if (item.SpaceListing.CurrentOccupancy != null)@item.SpaceListing.CurrentOccupancy
														else
															@Html.Raw("Not Available")
													</span>
												}
												else
												{

												}
											</div>
										</div>

									</div>
									<div class="property-btn">
										<a class="property-link btn btn-primary btn-block" href="@Url.Action("PropertyDetail", "Website", new {ListingID = item.SpaceListing.ListingId })">See Details</a>
									</div>
								</div>

							</div>

						}
						</div>
				</div>
			</div>
		</div>
	</section>


</div>
