@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<HiSpaceListingModels.Facility>
@*facilities section start*@
@*<div class="modal facilities fade modal-sec" id="facilitiesModal" tabindex="-1" role="dialog" aria-labelledby="facilitiesModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">*@
<div class="modal-content">
	<div class="modal-header border-0">
		<h5 class="modal-title" id="facilitiesModalLabel"><i class="fas fa-bus"> </i> Facilities </h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="tab-content" id="">
			<div class="tab-pane fade show active" id="facilities" role="tabpanel" aria-labelledby="facilities-tab">

				<form class=" mt-4 align-items-center md-form" action="account-profile.html">
					<h6 class="d-inline-block">Common Facilities </h6>
					<div class="scroll-action_link" id="f-common">Go to Custom Facilities</div>
					<div class="facilities-common" id="common-section__f">
						@foreach (var item in Model)
						{
							if (item.FacilityMasterId != 0 && item.FacilityId == 0)
							{
								<div class="row facilities-upload__row">
									<div class=" col-md-3 col-sm-4 ">
										<div class="form-group">
											<div class="checkbox m-0">
												<label>
													<input type="checkbox" class="facilityStatus" /><i class="helper"></i> @item.Name
												</label>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-4 col-6">
										<div class="form-group">
											<div class="form-group">
												<select class="form-control basic-select fc-option facilityDistance"
														asp-items="@(new SelectList(ViewBag.FacilityDistances, "FacilityDistanceName", "FacilityDistanceDisplay"))"></select>
												<label for="select" class="control-label">Distance</label><i class="bar"></i>
											</div>
										</div>
									</div>
									<div class="display-none">
										<div class="form-group">
											<input type="text" class="form-control facilityName" placeholder="00" value="@item.Name">
											<label for="input" class="control-label">Name</label><i class="bar"></i>
										</div>
									</div>
									<div class="display-none">
										<div class="form-group">
											<input type="text" class="form-control facilityMasterId" placeholder="00" value="@item.FacilityMasterId">
											<label for="input" class="control-label">Master Id</label><i class="bar"></i>
										</div>
									</div>
									<div class="display-none">
										<div class="form-group">
											<input type="text" class="form-control facilityId" placeholder="00" value="0">
											<label for="input" class="control-label">Facility Id</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 align-self-center amenityAction">
										<span class="addon-add delete-btn tooltip-wrapper text-sec" onclick="AddFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="submit and upload the file"><i class="fas fa-save btn-icon text-sec"></i> Save</span>
										<span class="addon-edit delete-btn tooltip-wrapper display-none text-info" onclick="EditFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file"><i class="fas fa-edit btn-icon text-info"></i> Edit</span>
										@*<span class="addon-clear delete-btn tooltip-wrapper display-none text-pry" onclick="clearRowFacility(this)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to clear"><i class="fas fa-times btn-icon text-pry"></i> Clear</span>*@
									</div>
								</div>
							}
							else if (item.FacilityMasterId != 0 && item.FacilityId != 0)
							{
								<div class="row facilities-upload__row addons-row__light">
									<div class=" col-md-3 col-sm-4 ">
										<div class="form-group">
											<div class="checkbox m-0">
												<label>
													<input type="checkbox" class="facilityStatus event-none" checked="@item.Status" /><i class="helper"></i> @item.Name
												</label>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-4 col-6">
										<div class="form-group">
											<div class="form-group">
												<select class="form-control basic-select fc-option facilityDistance event-none"
														asp-items="@(new SelectList(ViewBag.FacilityDistances, "FacilityDistanceName", "FacilityDistanceDisplay",@item.FacilityDistance))"></select>
												<label for="select" class="control-label">Distance</label><i class="bar"></i>
											</div>
										</div>
									</div>
									<div class="display-none">
										<div class="form-group">
											<input type="text" class="form-control facilityName event-none" placeholder="00" value="@item.Name">
											<label for="input" class="control-label">Name</label><i class="bar"></i>
										</div>
									</div>
									<div class="display-none">
										<div class="form-group">
											<input type="text" class="form-control facilityMasterId event-none" placeholder="00" value="@item.FacilityMasterId">
											<label for="input" class="control-label">Master Id</label><i class="bar"></i>
										</div>
									</div>
									<div class="display-none">
										<div class="form-group">
											<input type="text" class="form-control facilityId event-none" placeholder="00" value="@item.FacilityId">
											<label for="input" class="control-label">Facility Id</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 align-self-center amenityAction">
										<span class="addon-add delete-btn display-none tooltip-wrapper text-sec" onclick="AddFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="submit and upload the file"><i class="fas fa-save btn-icon text-sec"></i> Save</span>
										<span class="addon-edit delete-btn tooltip-wrapper text-info" onclick="EditFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file"><i class="fas fa-edit btn-icon text-info"></i> Edit</span>
										<span class="addon-clear delete-btn tooltip-wrapper display-none text-pry" onclick="clearRowFacility(this, @item.FacilityId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to clear"><i class="fas fa-times btn-icon text-pry"></i> Clear</span>
									</div>
								</div>
							}

						}

					</div>
					<div class="btn btn-sec add-btn d-inline-block" data-listingid="@ViewBag.ListingId" onclick="addFacilities(this)"> <i class="fa fa-plus-circle"></i>Custom Facilities</div>
					<div class="scroll-action_link" id="f_custom">Go to Common Facilities</div>
					<div class="facilities-upload" id="custom-section__f">
						@if (Model.Count() == 11)
						{
							<div class="row facilities-upload__row">
								<div class=" col-md-3 col-sm-4 ">
									<div class="form-group">
										<input type="text" class="form-control facilityName" placeholder="Name">
										<label for="input" class="control-label">Facility</label><i class="bar"></i>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4 col-6">
									<div class="form-group">
										<div class="form-group">
											<select class="form-control basic-select fc-option facilityDistance"
													asp-items="@(new SelectList(ViewBag.FacilityDistances, "FacilityDistanceName", "FacilityDistanceDisplay"))"></select>
											<label for="select" class="control-label">Distance</label><i class="bar"></i>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-6 m-b--15 align-self-center">
									<div class="checkbox m-0">
										<label>
											<input type="checkbox" class="facilityStatus" /><i class="helper"></i> Active
										</label>
									</div>
								</div>
								<div class="display-none">
									<div class="form-group">
										<input type="text" class="form-control facilityMasterId event-none" placeholder="00" value="0">
										<label for="input" class="control-label">Master Id</label><i class="bar"></i>
									</div>
								</div>
								<div class="display-none">
									<div class="form-group">
										<input type="text" class="form-control facilityId event-none" placeholder="00" value="0">
										<label for="input" class="control-label">Facility Id</label><i class="bar"></i>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 align-self-center">
									<span class="addon-add delete-btn tooltip-wrapper text-sec" onclick="AddFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="submit and upload the file"><i class="fas fa-save btn-icon text-sec"></i> Save</span>
									<span class="addon-edit delete-btn tooltip-wrapper text-info display-none" onclick="EditFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file"><i class="fas fa-edit btn-icon text-info"></i> Edit</span>
									<span class="addon-delete delete-btn tooltip-wrapper text-danger" onclick="deleteFacility(this,0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to delete the row"><i class="fas fa-trash-alt btn-icon text-danger"></i> Delete</span>
									@*<span class="addon-clear delete-btn tooltip-wrapper display-none text-pry" onclick="clearRowFacility(this)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to clear"><i class="fas fa-times btn-icon text-pry"></i> Clear</span>*@
								</div>
							</div>
						}
						else
						{
							@foreach (var item in Model)
							{
								@if (item.FacilityMasterId == 0 || item.FacilityMasterId == null)
								{
									<div class="row facilities-upload__row addons-row__light">
										<div class=" col-md-3 col-sm-4 ">
											<div class="form-group">
												<div class="checkbox m-0">
													<label>
														<input type="checkbox" class="facilityStatus event-none" checked="@item.Status" /><i class="helper"></i> @item.Name
													</label>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-6">
											<div class="form-group">
												<div class="form-group">
													<select class="form-control basic-select fc-option facilityDistance event-none"
															asp-items="@(new SelectList(ViewBag.FacilityDistances, "FacilityDistanceName", "FacilityDistanceDisplay",@item.FacilityDistance))"></select>
													<label for="select" class="control-label">Distance</label><i class="bar"></i>
												</div>
											</div>
										</div>
										<div class="display-none">
											<div class="form-group">
												<input type="text" class="form-control facilityName event-none" placeholder="00" value="@item.Name">
												<label for="input" class="control-label">Name</label><i class="bar"></i>
											</div>
										</div>
										<div class="display-none">
											<div class="form-group">
												<input type="text" class="form-control facilityMasterId event-none" placeholder="00" value="@item.FacilityMasterId">
												<label for="input" class="control-label">Master Id</label><i class="bar"></i>
											</div>
										</div>
										<div class="display-none">
											<div class="form-group">
												<input type="text" class="form-control facilityId event-none" placeholder="00" value="@item.FacilityId">
												<label for="input" class="control-label">Facility Id</label><i class="bar"></i>
											</div>
										</div>
										<div class="col-md-3 col-sm-6 align-self-center amenityAction">
											<span class="addon-add delete-btn tooltip-wrapper text-sec display-none" onclick="AddFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="submit and upload the file"><i class="fas fa-save btn-icon text-sec"></i> Save</span>
											<span class="addon-edit delete-btn tooltip-wrapper text-info " onclick="EditFacilityForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file"><i class="fas fa-edit btn-icon text-info"></i> Edit</span>
											<span class="addon-delete delete-btn tooltip-wrapper text-danger" onclick="deleteFacility(this, @item.FacilityId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to delete the row"><i class="fas fa-trash-alt btn-icon text-danger"></i> Delete</span>
											<span class="addon-clear delete-btn tooltip-wrapper display-none text-pry" onclick="clearRowFacility(this, @item.FacilityId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to clear"><i class="fas fa-times btn-icon text-pry"></i> Clear</span>
										</div>
									</div>
								}
							}
						}

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@*</div>
	</div>*@
@*facilities section end*@
