@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<HiSpaceListingModels.REProfessionalMaster>
@*@model IEnumerable<HiSpaceListingModels.REProfessionalMaster>*@

@*Adding project section start*@
<div class="modal-content">
	<div class="modal-header border-0">
		<h5 class="modal-title" id="projectModalLabel"><i class="fas fa-city"> </i> Project </h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="tab-content" id="">
			<div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="project-tab">
				<div class="alert-text"><span class="bg-info">Please add your image (jpg, png,..) / project document (pdf, word,..) in the proper sections</span></div>
				<div class="btn btn-info add-btn" data-listingid="@ViewBag.ListingId" onclick="addProject(this)"> <i class="fa fa-plus-circle"></i>project</div>
				<form id="ProjectAddForm" class="mt-4 align-items-center md-form">
					<div class="project-upload">
						@if (Model.Count() == 0)
						{
						<div class="row project-upload__row">
							<div class="display-none">
								<div class="form-group">
									<input type="text" class="form-control projectId event-none" placeholder="id" value="0">
									<label for="input" class="control-label">Project id</label><i class="bar"></i>
								</div>
							</div>
							<div class=" col-md-2 col-sm-6 align-self-center">
								<div class="form-group">
									<input type="text" class="form-control projectName" placeholder="project Name">
									<label for="input" class="control-label">project Name</label><i class="bar"></i>
								</div>
							</div>
							<div class=" col-md-3 col-sm-6 align-self-center">
								<div class="form-group">
									<input type="file" class="form-control projectImage" accept="project/*">
									<label for="input" class="control-label">Upload project Image</label><i class="bar"></i>
								</div>
							</div>
							<div class=" col-md-2 col-sm-6 align-self-center">
								<div class="form-group">
									<input type="file" class="form-control projectDoucument" accept="project/*">
									<label for="input" class="control-label">Upload project Document</label><i class="bar"></i>
								</div>
							</div>
							<div class=" col-md-1 col-sm-6 align-self-center">
								<span class="addon-edit delete-btn tooltip-wrapper text-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file" style="width: 30px;"><i class="fas fa-temperature-low btn-icon text-sec"></i></span>

								<span class="addon-delete delete-btn tooltip-wrapper text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to delete the row" style="width: 30px;"><i class="fas fa-tree btn-icon text-info"></i></span>
							</div>
							<div class=" col-md-2 col-sm-6 align-self-center">
								<div class="form-group">
									<textarea type="text" class="form-control projectDesc" rows="3" placeholder="Enter your text..."></textarea>
									<label for="input" class="control-label">Description</label><i class="bar"></i>
								</div>
							</div>
							@*<div class="col-md-1 col-sm-6 m-b--15 align-self-center">
			<div class="checkbox m-0">
				<label>
					<input type="checkbox" /><i class="helper"></i> Active
				</label>
			</div>
		</div>*@
							<div class="col-md-2 col-sm-6 align-self-center">
								<span class="addon-add delete-btn tooltip-wrapper text-sec" onclick="AddProjectForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="submit and upload the file"><i class="fas fa-cloud-upload-alt btn-icon text-sec"></i> Upload</span>
								<span class="addon-edit delete-btn tooltip-wrapper display-none text-info" onclick="EditProjectForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file"><i class="fas fa-edit btn-icon text-info"></i> Edit</span>
								<span class="addon-delete delete-btn tooltip-wrapper text-danger" onclick="deleteProject(this, 0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to delete the row"><i class="fas fa-trash-alt btn-icon text-danger"></i> Delete</span>
							</div>
						</div>
						}
						else
						{
							@foreach (var item in Model)
							{
					<div class="row project-upload__row addons-row align-self-center">
						<div class="display-none">
							<div class="form-group">
								<input type="text" class="form-control projectId event-none" placeholder="id" value="@item.REProfessionalMasterId">
								<label for="input" class="control-label">Project id</label><i class="bar"></i>
							</div>
						</div>
						<div class=" col-md-2 col-sm-6 align-self-center">
							<div class="form-group">
								<input type="text" class="form-control projectName event-none" placeholder="project Name" value="@item.ProjectName">
								<label for="input" class="control-label">project Name</label><i class="bar"></i>
							</div>
						</div>
						<div class=" col-md-3 col-sm-6 align-self-center">
							<div class="form-group display-none">
								<input type="file" class="form-control projectImage" accept="project/*" value="@item.ImageUrl">
								<label for="input" class="control-label">Upload project Image</label><i class="bar"></i>
							</div>
							<div class="addon-image__div"><a href="@Url.Content(item.ImageUrl)" target="_blank"><img class="addon-image" alt="name" src="@Url.Content(item.ImageUrl)" /></a></div>
						</div>
						<div class=" col-md-2 col-sm-6 align-self-center">
							<div class="form-group display-none">
								<input type="file" class="form-control projectDoucument" accept="project/*" value="@item.DocumentUrl">
								<label for="input" class="control-label">Upload project Document</label><i class="bar"></i>
							</div>
							<div class="addon-image__div"><a href="@Url.Content(item.DocumentUrl)" target="_blank"><img class="addon-image" alt="name" src="~/images/doc_placeholder.png" />Click to view</a></div>
						</div>
						<div class=" col-md-2 col-sm-6 align-self-center">
							<div class="form-group">
								<textarea type="text" class="form-control projectDesc event-none" rows="3" placeholder="Enter your text..." value="@item.Description">@item.Description</textarea>
								<label for="input" class="control-label">Description</label><i class="bar"></i>
							</div>
						</div>
						<div class=" col-md-1 col-sm-6 align-self-center">
							<span class="addon-edit delete-btn tooltip-wrapper text-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file" style="width: 30px;"><i class="fas fa-temperature-low btn-icon text-sec"></i></span>

							<span class="addon-delete delete-btn tooltip-wrapper text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to delete the row" style="width: 30px;"><i class="fas fa-tree btn-icon text-info"></i></span>
						</div>
						@*<div class="col-md-1 col-sm-6 m-b--15 align-self-center">
			<div class="checkbox m-0">
				<label>
					<input type="checkbox" /><i class="helper"></i> Active
				</label>
			</div>
		</div>*@
						<div class="col-md-2 col-sm-6 align-self-center">
							<span class="addon-add delete-btn tooltip-wrapper display-none text-sec" onclick="AddProjectForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="submit and upload the file"><i class="fas fa-cloud-upload-alt btn-icon text-sec"></i> Upload</span>
							<span class="addon-edit delete-btn tooltip-wrapper text-info" onclick="EditProjectForm(this);" data-listingid="@ViewBag.ListingId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit the file"><i class="fas fa-edit btn-icon text-info"></i> Edit</span>
							<span class="addon-delete delete-btn tooltip-wrapper text-danger" onclick="deleteProject(this, @item.REProfessionalMasterId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to delete the row"><i class="fas fa-trash-alt btn-icon text-danger"></i> Delete</span>
							<span class="addon-clear delete-btn tooltip-wrapper display-none text-pry" onclick="clearRowProject(this,@item.REProfessionalMasterId)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to clear"><i class="fas fa-times btn-icon text-pry"></i> Clear</span>
						</div>
					</div>
							}
						}

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@*Adding project section end*@