@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingWeb.ViewModel.PropertyListViewModel


@if (Model.PropertyDetailSearchList != null || Model.PropertyDetailSearchList.Count() != 0)
{
	@foreach (var item in Model.PropertyDetailSearchList)
	{
		@if (item.SpaceListing.ListingType != "RE-Professional")
		{
		<div class="property-item property-col-list mt-4">
			<div class="row no-gutters">
				<div class="col-lg-4 col-md-5 prop-image">
					<div class="property-image bg-overlay-gradient-04">
						@if (item.ListingImagesList.Count() != 0)
						{
							@foreach (var image in item.ListingImagesList.Take(1))
							{
								<img class="img-fluid" src="@image.ImageUrl" alt="">
							}
						}
						else
						{
							<img class="img-fluid" src="~/images/property/list/01.jpg" alt="">
						}
						<div class="property-lable">
							@if (item.SpaceListing.ListingType == "Commercial")
							{
								<span class="badge badge-md badge-pry">@item.SpaceListing.ListingType</span>
							}
							else if (item.SpaceListing.ListingType == "Co-Working")
							{
								<span class="badge badge-md badge-sec">@item.SpaceListing.ListingType</span>

							}
							else if (item.SpaceListing.ListingType == "RE-Professional")
							{
								<span class="badge badge-md badge-info">@item.SpaceListing.ListingType</span>

							}
						</div>
						<div class="property-agent">
							<div class="property-agent-image">
								<img class="img-fluid" src="~/images/avatar/placeholder.png" alt="">
							</div>
							<div class="property-agent-info">
								<a class="property-agent-name" href="#">@item.SpaceUser.CompanyName</a>
								<span class="d-block">Lister Name</span>

							</div>
						</div>
						@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
						{
							@if (item.AvailableHealthCheck != 0 || item.AvailableGreenBuildingCheck != 0)
							{
								<div class="list-data">
									<div class="list-health">
										<span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Health verified space click to see details"><i class="fas fa-temperature-low btn-icon text-sec"></i></span>
									</div>
									<div class="list-green">
										<span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Green Building verified space click to see details"><i class="fas fa-tree btn-icon text-sec"></i></span>
									</div>
								</div>
							}
						}

						@*<div class="property-agent-popup">
								<a href="#"><i class="fas fa-camera"></i> 03</a>
							</div>*@
					</div>
				</div>
				<div class="col-lg-8 col-md-7 prop-details">
					<div class="property-details">
						<div class="property-details__head">
							<div class="property-details__header">@item.SpaceListing.Name</div>
							<div class="property-details__amenities">
								@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
								{
									<span class="property-details__am">Amenities (@item.AvailableAmenities)</span>
									<span class="property-details__fa">Facilities (@item.AvailableFacilities)</span>
								}
								else
								{
									<span class="property-details__am">Projects (@item.AvailableProjects)</span>
								}
							</div>
						</div>
						<div class="property-details__desc">
							@if (item.SpaceListing.Description == null)
							{
								@Html.Raw("I truly believe Augustine’s words are true and if you look at history you know it is true.There are many people in.");
							}
							else
							{

								@item.SpaceListing.Description
							}
						</div>
						<div class="property-details__section">
							@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
							{
								<div class="d-block">
									<span class="property-span__head text-sec">Min Price:</span>
									<span>&#8377;@item.SpaceListing.PriceMin </span> -
									<span class="property-span__head text-info">Max Price:</span>
									<span>&#8377;@item.SpaceListing.PriceMax</span>
								</div>
							}
						</div>

						<div class="property-details__section">
							<div>
								<span class="property-span__head">Type: </span>
								@if (item.SpaceListing.ListingType == "Commercial")
								{
									<span class="property-span__type badge-pry">@item.SpaceListing.ListingType</span>
								}
								else if (item.SpaceListing.ListingType == "Co-Working")
								{
									<span class="property-span__type badge-sec">@item.SpaceListing.ListingType</span>

								}
								else if (item.SpaceListing.ListingType == "RE-Professional")
								{
									<span class="property-span__type badge-info">@item.SpaceListing.ListingType</span>

								}
							</div>
							<div>
								@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
								{
									<span class="property-span__head">Rent: </span>
									<span class="property-span__rent">
										@if ((item.SpaceListing.RentalHour == true) && (item.SpaceListing.RentalDay == true) && (item.SpaceListing.RentalMonth == true))
										{
											@Html.Raw("Hour | Day | Month");
										}
										else if ((item.SpaceListing.RentalHour == true) && (item.SpaceListing.RentalDay == true))
										{
											@Html.Raw("Hour | Day");
										}
										else if ((item.SpaceListing.RentalHour == true) && (item.SpaceListing.RentalMonth == true))
										{
											@Html.Raw("Hour | Month");
										}
										else if ((item.SpaceListing.RentalMonth == true) && (item.SpaceListing.RentalDay == true))
										{
											@Html.Raw("Day | Month");
										}
										else if ((item.SpaceListing.RentalMonth == true))
										{
											@Html.Raw("Month");
										}
										else if ((item.SpaceListing.RentalDay == true))
										{
											@Html.Raw("Day");
										}
										else if ((item.SpaceListing.RentalHour == true))
										{
											@Html.Raw("Hour");
										}
										else
										{
											@Html.Raw("Not Specified");
										}
									</span>

								}

							</div>


						</div>


						<div class="property-details__footer">
							<div class="property-details__address">
								<i class="fas fa-map-marker-alt fa-xs"></i>
								@if (item.SpaceListing.street_number != null)
								{
									@Html.Raw(@item.SpaceListing.street_number + ",");
								}
								@if (item.SpaceListing.route != null)
								{
									@Html.Raw(@item.SpaceListing.route + ",");
								}
								<span class="property-span__head">@item.SpaceListing.locality</span>, @item.SpaceListing.administrative_area_level_1. <span class="property-span__head">@item.SpaceListing.postal_code</span>
							</div>
							<div class="property-details__total">

								@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
								{
									<span class="property-span__tot">
										<i class="fas fa-circle fa-xs"></i>Total: @if (item.SpaceListing.TotalSeats != null)@item.SpaceListing.TotalSeats
										else
											@Html.Raw("Not Available")
									</span>
									<span class="property-span__head"> | </span>
									<span class="property-span__occ">
										<i class="fas fa-chart-pie fa-xs"></i>Occupied: @if (item.SpaceListing.CurrentOccupancy != null)@item.SpaceListing.CurrentOccupancy
										else
											@Html.Raw("Not Available")
									</span>
								}
								else
								{

								}
							</div>
						</div>

					</div>
					<div class="property-btn">
						<a class="property-link btn btn-primary btn-block" href="@Url.Action("PropertyDetail", "Website", new { ListingID = item.SpaceListing.ListingId })">See Details</a>
					</div>
					@if (item.SpaceListing.ListingType == "Commercial" || item.SpaceListing.ListingType == "Co-Working")
					{
						@if (item.AvailableHealthCheck != 0 || item.AvailableGreenBuildingCheck != 0)
						{
							<div class="tooltip-wrapper list-data__check" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eco-Friendly Spaces click to see details"><i class="fas fa-leaf"></i></div>
						}
					}

				</div>

			</div>
		</div>
		}
	}
}
else
{
	<div>Test the value is null</div>
}