
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HiSpaceListingWeb.ViewModel.UserMasterViewModel

@{
	ViewData["Title"] = "ListingTable";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
}


	<div class="listingtable nav-padding">
		<div class="bg-light mb-4">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="@Url.Action( "Index","Website")"> <i class="fas fa-home"></i> </a></li>


							@if (ViewBag.UserId != null && ViewBag.UserId > 0)
							{
								<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Add Table</span></li>
							}
							@if (ViewBag.UserId != null && ViewBag.UserId == 0)
							{
								<li class="breadcrumb-item"><a href="@Url.Action( "AdminLister","Admin")"> <i class="fas fa-chevron-right"></i> <span>Lister Table</span></a></li>
								<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Edit Operator</span></li>
							}
						</ol>
					</div>
				</div>
			</div>
		</div>
		<section>
			<div class="container p-0">
				<div class="row no-gutters">
					<div class="widget accordion-sec col-md-12 mb-2">
						@if (ViewBag.UserId != null && ViewBag.UserId > 0)
						{
							@if (Model.User.UserStatus == "Incomplete")
							{
								<div class="status-message">
									<i class="fas fa-exclamation-circle"></i>
									<p>Please complete the from fields to enable add listing section.</p>
								</div>
							}
							else if (Model.User.UserStatus == "BackgroundCheck")
							{
								<div class="status-message">
									<i class="fas fa-user-cog"></i>
									<p>Background check is inprogress. Once it complete listing will enable for you.</p>
								</div>
							}
							else if (Model.User.UserStatus == "Completed")
							{
								<div class="status-message">
									<i class="fas fa-user-check text-sec"></i>
									<p>You are a verified user please add your listings below.</p>
								</div>
							}
							<div class="widget-title widget-collapse">
								<a class="ml-auto" data-toggle="collapse" href="#property-lister" role="button" aria-expanded="false" aria-controls="property-lister"><h6>Basic Information</h6> <i class="fas fa-chevron-down"></i> </a>
							</div>
						}
						@if (ViewBag.UserId != null && ViewBag.UserId == 0)
						{
							<div class="section-title d-flex align-items-center m--tb-15">
								<h2>Edit Operator</h2>
							</div>
							ViewBag.card = "card hi-card";
							ViewBag.cardbody = "card-body";
						}

						<div class="collapse show @ViewBag.card" id="property-lister">
							<div class="accordion-sec__detail @ViewBag.cardbody">

								@*<form class="form-row align-items-center md-form p-3" action="account-profile.html">*@
								@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-row align-items-center md-form p-3", enctype = "multipart/form-data" }))
								{
									@Html.AntiForgeryToken()
									@Html.HiddenFor(m => m.User.UserId)
									@Html.HiddenFor(m => m.User.UserType)
									@Html.HiddenFor(m => m.User.UserStatus)
									@Html.HiddenFor(m => m.User.Status)
									@Html.HiddenFor(m => m.User.Doc_CompanyLogo)
									@Html.HiddenFor(m => m.User.Doc_PANCopy)
									@Html.HiddenFor(m => m.User.Doc_RCCopy)
									@Html.HiddenFor(m => m.User.Password)
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="Company Name">*@
										@Html.EditorFor(m => m.User.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" } })
										<label for="input" class="control-label">Company Name*</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="Phone">*@
										@Html.EditorFor(m => m.User.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone" } })
										<label for="input" class="control-label">Phone*</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="email" class="form-control" placeholder="abc@gmail.com">*@
										@Html.EditorFor(m => m.User.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email" } })
										<label for="input" class="control-label">Email*</label><i class="bar"></i>
									</div>
									@*<div class="form-group col-md-3 col-sm-6">
										@Html.EditorFor(m => m.User.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password" } })
										<label for="input" class="control-label">Password*</label><i class="bar"></i>
									</div>*@
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="www.abc.com">*@
										@Html.EditorFor(m => m.User.Website, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Website" } })
										<label for="input" class="control-label">Web Address</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-6 col-sm-12">
										@*<input type="text" class="form-control" placeholder="No.00, street">*@
										@Html.EditorFor(m => m.User.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Address" } })
										<label for="input" class="control-label">Complete Address</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="number" class="form-control" placeholder="postal code">*@
										@Html.EditorFor(m => m.User.Postalcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter PostalCode" } })
										<label for="input" class="control-label">Postal Code</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="Fax">*@
										@Html.EditorFor(m => m.User.Fax, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Fax" } })
										<label for="input" class="control-label">Fax</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="Contact Name">*@
										@Html.EditorFor(m => m.User.PrimaryContactName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" } })
										<label for="input" class="control-label">Contact Person</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="9999999999">*@
										@Html.EditorFor(m => m.User.PrimaryContactPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone" } })
										<label for="input" class="control-label">Contact Person N0.</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="12345ABCD">*@
										@Html.EditorFor(m => m.User.GSTIN, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter GSTIN" } })
										<label for="input" class="control-label">GSTIN</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="12345ABCD">*@
										@Html.EditorFor(m => m.User.PAN, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter PAN" } })
										<label for="input" class="control-label">PAN</label><i class="bar"></i>
									</div>
									<div class="form-group col-md-3 col-sm-6">
										@*<input type="text" class="form-control" placeholder="12345ABCD">*@
										@Html.EditorFor(m => m.User.UAN, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter UAN" } })
										<label for="input" class="control-label">UAN</label><i class="bar"></i>
									</div>
									<div class="row">
										<div class="form-group col-md-3 col-sm-6">
											@*<input type="file" class="form-control" accept="image/*">*@
											@*@Html.EditorFor(m => m.User.Doc_PANCopy, new { htmlAttributes = new { @class = "form-control", type = "file", accept = "image/*" } })
			<label for="input" class="control-label">Upload PAN</label><i class="bar"></i>*@
											<p class="label-head mb-10">PAN Certificate</p>
											@if (Model.User.Doc_PANCopy != null)
											{

												<div class="gallery">
													@Html.EditorFor(m => m.PANCopy, new { accept = "image/*", @class = "form-control-file" })
													<a href="@Url.Content(Model.User.Doc_PANCopy)" class="view1"><img src="@Url.Content(Model.User.Doc_PANCopy)" class="img-fluid" alt="PAN"></a>
													<p><a href="@Url.Content(Model.User.Doc_PANCopy)" target="_blank">PAN</a></p>
												</div>
											}
											else
											{
												@Html.EditorFor(m => m.PANCopy, new { accept = "image/*", @class = "form-control-file" })
												<p class="font-15 text-danger">PAN Copy Not Uploaded!</p>
											}
										</div>
										<div class="form-group col-md-3 col-sm-6">
											@*<input type="file" class="form-control" accept="image/*">*@
											@*@Html.EditorFor(m => m.User.Doc_RCCopy, new { htmlAttributes = new { @class = "form-control", type = "file", accept = "image/*" } })
			<label for="input" class="control-label">Upload Registration</label><i class="bar"></i>*@
											<p class="label-head mb-10">Registration Certificate</p>
											@if (Model.User.Doc_RCCopy != null)
											{

												<div class="gallery">
													@Html.EditorFor(m => m.RCCopy, new { accept = "image/*", @class = "form-control-file" })
													<a href="@Url.Content(Model.User.Doc_RCCopy)" class="view1"><img src="@Url.Content(Model.User.Doc_RCCopy)" class="img-fluid" alt="RCCopy"></a>
													<p><a href="@Url.Content(Model.User.Doc_RCCopy)" target="_blank">RCCopy</a></p>
												</div>
											}
											else
											{
												@Html.EditorFor(m => m.RCCopy, new { accept = "image/*", @class = "form-control-file" })
												<p class="font-15 text-danger">Registration Copy Not Uploaded!</p>
											}
										</div>
										<div class="form-group col-md-3 col-sm-6">
											@*<input type="file" class="form-control" accept="image/*">*@
											@*@Html.EditorFor(m => m.User.Doc_CompanyLogo, new { htmlAttributes = new { @class = "form-control", type = "file", accept = "image/*" } })
			<label for="input" class="control-label">Company Logo</label><i class="bar"></i>*@
											<p class="label-head mb-10">Logo</p>
											@if (Model.User.Doc_CompanyLogo != null)
											{

												<div class="gallery">
													@Html.EditorFor(m => m.Logo, new { accept = "image/*", @class = "form-control-file" })
													<a href="@Url.Content(Model.User.Doc_CompanyLogo)" class="view1"><img src="@Url.Content(Model.User.Doc_CompanyLogo)" class="img-fluid" alt="Logo"></a>
													<p><a href="@Url.Content(Model.User.Doc_CompanyLogo)" target="_blank">Logo</a></p>
												</div>
											}
											else
											{
												@Html.EditorFor(m => m.Logo, new { accept = "image/*", @class = "form-control-file" })
												<p class="font-15 text-danger">Logo Not Uploaded!</p>
											}
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="checkbox m-0">
											<label>
												@*<input type="checkbox" />*@
												@Html.CheckBoxFor(m => m.User.TermsAndConditions)
												<i class="helper"></i><a data-toggle="modal" data-target="#termsModal" href="#" class="hover-signup" data-dismiss="modal">Terms and Conditions</a>
											</label>
										</div>
									</div>
									<div class="col-sm-6 mt-3">
										<button type="submit" class="btn btn-sec">Submit</button>
									</div>
									@*</form>*@
								}
							</div>
						</div>
					</div>
					@if (ViewBag.UserId != null && ViewBag.UserId > 0)
					{
						<div class="col-md-12">
							<div>
								<span class="font-weight-bold">Note: </span>
								Please fill the basic details to enable the <span class="text-pry font-weight-bold">Listing Section</span>
							</div>
						</div>
					}

				</div>
			</div>
		</section>
		@if (ViewBag.UserId != null && ViewBag.UserId > 0)
		{
			<section class="">
				<div class="container p-0">
					<div class="row no-gutters">
						<div class="col-md-12">
							<div class="section-title d-flex align-items-center m--tb-15">
								<h2>Listing Table</h2>
							</div>
							<div class="listing-note">
								<span class="note-head note-add">Please Note</span>
								<p>After added the new Listing</p>
								<p>
									Please add your
									<span class="note-head"> <i class="fas fa-business-time btn-icon text-pry"></i> Business Hours </span> <span class="spliter"> | </span>
									<span class="note-head"> <i class="fas fa-image btn-icon text-try"></i> Images </span><span class="note-sm"> ( Space or Re Project ) </span>
								<p>
									Addons like <span class="note-head"> <i class="fas fa-wifi btn-icon text-primary"></i> Amenities</span> and
									<span class="note-head"> <i class="fas fa-bus btn-icon text-sec"></i> Facilities</span> <span class="note-sm"> ( for space ) </span><span class="spliter"> - </span>
									<span class="note-head"> <i class="fas fa-city btn-icon text-info"></i> Re Projects</span><span class="note-sm"> ( for RE Professionals ) </span>
								</p>
							</div>
							<div class="card hi-card">
								<div class="card-body">
									<div class="datatable-wrapper table-responsive">
										<a href="@Url.Action("Create", "ListingForm")">
											<div id="show_add_view" class="add-new tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to add listing">
												<i class="fa fa-plus-circle"></i> List
											</div>
										</a>

										<table id="example" class="display display compact table table-striped mdtable">
											<thead>
												<tr>
													<th>Name</th>
													<th>Type</th>
													<th>Phone</th>
													<th>City</th>
													<th>Current occ.</th>
													<th><i class="fas fa-business-time"></i> Hours</th>
													<th><i class="fas fa-images"></i> Images</th>
													<th><i class="fab fa-gratipay"></i> Addons</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in Model.ListingList)
												{
													//checking the status
													@if (item.Status == true)
													{
														ViewBag.ListStatus = @Html.Raw("<i class='fas fa-check text-success'></i>");
													}
													else
													{
														ViewBag.ListStatus = @Html.Raw("<i class='fas fa-times text-danger'></i>");
													}
													//checking the type and addons
													@if (item.ListingType == "Commercial")
													{
														ViewBag.TypeClass = "text-pry";
														ViewBag.TypeAddons = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
												"<span span class='modal-link__amenities' data-targeturl=\'" + @Url.Action("AddAmenities", "Addons", new { ListingId = item.ListingId }) + "\' data-dismiss='modal'>" +
													"<a href='javascript:function() { return false; }' class='tooltip-wrapper' data-toggle='tooltip' data-placement='top' title='' data-original-title='Click to list the aminities'>" +
														"<i class='fas fa-wifi btn-icon text-primary'></i>" +
													"</a>" +
												"</span>" +
									"<span span class='modal-link__facilities' data-targeturl=\'" + @Url.Action("AddFacilities", "Addons", new { ListingId = item.ListingId }) + "\' data-dismiss='modal'>" +
										"<a href='javascript:function() { return false; }' class='tooltip-wrapper' data-toggle='tooltip' data-placement='top' title='' data-original-title='Click to list the facilities'>" +
											"<i class='fas fa-bus btn-icon text-sec'></i>" +
										"</a>" +
									"</span>" +
									"</div>");
													}
													else if (item.ListingType == "Co-Working")
													{
														ViewBag.TypeClass = "text-sec";
														ViewBag.TypeAddons = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
																			  "<span class='modal-link__amenities' data-targeturl=\'" + @Url.Action("AddAmenities", "Addons", new { ListingId = item.ListingId }) + "\' data-dismiss='modal'>" +
																				  "<a href='javascript:function() { return false; }' class='tooltip-wrapper' data-toggle='tooltip' data-placement='top' title='' data-original-title='Click to list the aminities'>" +
																					  "<i class='fas fa-wifi btn-icon text-primary'></i>" +
																				  "</a>" +
																			  "</span>" +
																  "<span class='modal-link__facilities' data-targeturl=\'" + @Url.Action("AddFacilities", "Addons", new { ListingId = item.ListingId }) + "\' data-dismiss='modal'>" +
																	  "<a href='javascript:function() { return false; }' class='tooltip-wrapper' data-toggle='tooltip' data-placement='top' title='' data-original-title='Click to list the facilities'>" +
																		  "<i class='fas fa-bus btn-icon text-sec'></i>" +
																	  "</a>" +
																  "</span>" +
															  "</div>");
													}
													else if (item.ListingType == "RE-Professional")
													{
														ViewBag.TypeClass = "text-info";
														ViewBag.TypeAddons = @Html.Raw("<div class='ml-auto d-flex align-items-center text-center md-crud-menu'>" +
																			  "<span class='modal-link__project' data-targeturl=\'" + @Url.Action("AddProject", "Addons", new { ListingId = item.ListingId }) + "\' data-dismiss='modal'>" +
																				  "<a href='javascript:function() { return false; }' class='tooltip-wrapper' data-toggle='tooltip' data-placement='top' title='' data-original-title='Click to list the RE project'>" +
																					  "<i class='fas fa-city btn-icon text-info'></i>" +
																				  "</a>" +
																			  "</span>" +
															  "</div>");
													}
													<tr>
														<td>
															@Html.DisplayFor(modelItem => item.Name)
														</td>
														<td>
															<span class="font-weight-bold  @ViewBag.TypeClass">@Html.DisplayFor(modelItem => item.ListingType)</span>
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.Phone)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.locality)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.CurrentOccupancy)
														</td>
														<td class="p-0">
															<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
																<span class="modal-link__hours" data-targeturl="@Url.Action("AddHours", "Addons", new { id = item.ListingId })" data-dismiss="modal">
																	<a href="javascript:function() { return false; }" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to list the working hours">
																		<i class="fas fa-business-time btn-icon text-pry"></i>
																	</a>
																</span>
															</div>
														</td>
														<td class="p-0">
															<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
																<span class="modal-link__image" data-targeturl="@Url.Action("AddImage", "Addons", new { id = item.ListingId })" data-dismiss="modal">
																	<a href="javascript:function() { return false; }" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to list the Images">
																		<i class="fas fa-image btn-icon text-try"></i>
																	</a>
																</span>
															</div>
														</td>
														<td class="p-0">
															@ViewBag.TypeAddons
														</td>
														<td>
															<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
																@ViewBag.ListStatus
															</div>
														</td>
														<td class="p-0">
															<div class="ml-auto d-flex align-items-center text-center md-crud-menu ">
																@*<a href="/" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
																	<i class="fas fa-eye btn-icon text-info"></i>
																</a>*@
																<a href="/" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or View">
																	<i class="fas fa-edit btn-icon text-warning"></i>
																</a>
																<a href="/" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
																	<i class="fas fa-trash-alt btn-icon text-danger"></i>
																</a>
															</div>
														</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
								@if (Model.User.UserStatus == "Incomplete")
								{
									<div class="table-disabled"> Fill the Information to enable listing</div>
								}
								else if (Model.User.UserStatus == "BackgroundCheck")
								{
									<div class="table-disabled"> Background checking is inprogress</div>
								}
								else if (Model.User.UserStatus == "Completed")
								{

								}
								@*<div class="table-disabled"> Fill the Information to enable listing</div>*@
							</div>
						</div>
					</div>
				</div>
			</section>
		}
		</div>

<!--=================================
	 Modal login -->
<div class="modal login fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header border-0">
				<h5 class="modal-title" id="termsModalLabel">HiSpace Terms and conditions</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
						<ul>
							<li>Publishing any Website material in any other media.</li>
							<li>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website.</li>
							<li>Publicly performing and/or showing any Website material.</li>
							<li>Using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--=================================
  Modal login -->

<!-- The below code is for the modal dialog Image section-->
<div id="modal-container__image" class="modal fade" tabindex="-1" role="dialog">
	<a href="#close" title="Close" class="modal-close-btn">X</a>
	<div class="modal-content">
		<div class="modal-body"></div>
	</div>
</div>

<!-- The below code is for the modal dialog Hours section-->
<div id="modal-container__hours" class="modal fade" tabindex="-1" role="dialog">
	<a href="#close" title="Close" class="modal-close-btn">X</a>
	<div class="modal-content">
		<div class="modal-body"></div>
	</div>
</div>

<!-- The below code is for the modal dialog Project section-->
<div id="modal-container__project" class="modal fade" tabindex="-1" role="dialog">
	<a href="#close" title="Close" class="modal-close-btn">X</a>
	<div class="modal-content">
		<div class="modal-body"></div>
	</div>
</div>

<!-- The below code is for the modal dialog Amenities section-->
<div id="modal-container__amenities" class="modal fade" tabindex="-1" role="dialog">
	<a href="#close" title="Close" class="modal-close-btn">X</a>
	<div class="modal-content">
		<div class="modal-body"></div>
	</div>
</div>

<!-- The below code is for the modal dialog Facilities section-->
<div id="modal-container__facilities" class="modal fade" tabindex="-1" role="dialog">
	<a href="#close" title="Close" class="modal-close-btn">X</a>
	<div class="modal-content">
		<div class="modal-body"></div>
	</div>
</div>